*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.terraform.*
.terraform/
.venv/
dist/
lambda_package.zip
__pycache__/
.DS_Store
environments/local/.terraform.lock.hcl
.vscode/settings.json
dist/
package.zip